.container {
    width: 400px;
    text-align: center;
    position: relative;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    align-items: center;
    background-color: black;
}

.counter {
    font-size: 40px;
    color: white;
}

.loadingBarFront {
    height: 12px;
    background-color: red;
    border: none;
    border-radius: 10px;
    position: absolute;
    width: 0%;
}

.loadingBarGround {
    height: 12px;
    background-color: white;
    border: none;
    border-radius: 10px;
    position: absolute;
    width: 100%;
}